
<div class="container">

    <h2>Our Commodities</h2>
    <hr class="divider">

    <div class="col-xs-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="/assets/images/berasputih.png" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Beras</h4>

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="/assets/images/bawangMerah.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Bawang Merah</h4>

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="/assets/images/bawangputih.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Bawang Putih</h4>

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>

{{outlet}}
